.Button {
  cursor: pointer;
}

.clear {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: none;
}

.outline {
  padding: 5px 20px;
  border: 2px solid black;
  transition: 0.2s;

  &:hover {
    border-color: var(--hover-color);
    color: var(--hover-color);
  }
}
