.PostItem {
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  width: 260px;
  margin: 20px;
  min-height: 50px;
  display: flex;
  flex-direction: column;

  .postTitle {
    font-weight: 400;
    text-decoration: none;
    color: #292929;
    transition: 0.2s;

    &:hover {
      color: var(--hover-color);
    }
  }

  .date {
    font-weight: 300;
    font-size: 13px;
  }
}
